@{
    ViewData["Title"] = "Manual";
}

<h2>Manual</h2>

<form method="POST">
<input type="number" name="first-value"> <br>
    <select name="op"> 
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select> <br>
    <input type="number" name="second-value"> <br>
    <button type="submit">Submit</button>
</form>
