@{
    ViewData["Title"] = "ModelBindingInParameters";
}

<h2>ModelBindingInParameters</h2>

<form method="POST">
<input type="number" name="FirstValue"> <br>
    <select name="Op"> 
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select> <br>
    <input type="number" name="SecondValue"> <br>
    <button type="submit">Submit</button>
</form>